








<table border="0" cellspacing="0" cellpadding="0" class="table-cert">
<tbody><tr>
<td width="50%" valign="top"><p><br></p></td>
<td width="50%" valign="top"><p align="right"><strong style="font-size: 140%;">Certificate    of Insurance</strong><br>
  <strong>Certificate No:-</strong> <strong><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong><strong><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong><br>
  <strong>Security No</strong>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong><strong><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong></p></td>
</tr>
<tr>
<td width="56%" valign="top"><p style="text-align: justify; line-height: 1;"><br></p></td>
<td width="44%" valign="top"><p align="right"><strong>ORIGINAL</strong></p></td>
</tr>
</tbody></table>
<table border="0" cellspacing="0" cellpadding="0" class="table-cert">
<tbody><tr>
<td width="100%" valign="top"><br><span style="font-size: 9px;"><br></span><span style="color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, Arial, sans-serif; text-align: justify; font-size: 11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ</span><br></td>
</tr>
</tbody></table>
<table border="1" cellspacing="0" cellpadding="5" width="100%" class="table-cert">
<tbody><tr>
<td width="50%" colspan="7" valign="top"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Consignor</strong><br>[[consignor]]</span></p></td>
<td width="50%" colspan="5" valign="top"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Date of Shipment</strong><br>
[[shipmentdate]]</span><strong> </strong></p></td>
</tr>
<tr>
<td width="50%" colspan="7" valign="top"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Consignee</strong><br>[[consignee]]</span><strong> </strong></p></td>
<td width="50%" colspan="5" valign="top"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Insurance Value</strong><br>[[insurance]]</span><strong> </strong></p></td>
</tr>
<tr style="border: none; border-bottom: 1px solid #000">
<td width="25%" colspan="4" valign="top" style="border: none; border-bottom: 1px solid #000"><p style="line-height: 1;"><strong>&nbsp;</strong></p></td>
<td width="25%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000; border-bottom: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Place of    Origin</strong><br>[[transitfrom]]<strong> </strong></span></p></td>
<td width="50%" colspan="5" rowspan="3" valign="top" style="border: none; border-bottom: 1px solid #000"><p style="line-height: 1;"><strong style="font-size: medium;">Claims    Representative Details: </strong></p>
  <p style="line-height: 1;"><span style="font-size: 9px;"><strong>In the    event of a claim report details to:-</strong><br>[[medline]] </span></p>
  <p style="line-height: 1;"><span style="font-size: 9px;"><strong>New    claims may also be reported electronically to: &nbsp;</strong><br>[[medline]]</span></p></td>
</tr>
<tr style="border: none; border-bottom: 1px solid #000">
<td width="25%" colspan="4" valign="top" style="border: none; border-bottom: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Ocean    Vessel / Aircraft</strong><br>[[cargocat]]<strong> </strong></span></p></td>
<td width="25%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000; border-bottom: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Port of    Loading</strong><br>[[portloading]]<strong> </strong></span></p></td>
</tr>
<tr style="border: none; border-bottom: 1px solid #000">
<td width="25%" colspan="4" valign="top" style="border: none; border-bottom: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Port of    Discharge</strong><br>[[portdischarge]]<strong> </strong></span></p></td>
<td width="25%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000; border-bottom: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Place of    Delivery</strong><br>[[transitto]]<strong> </strong></span></p></td>
</tr>
<tr style="border: none;">
<td width="25%" colspan="2" valign="top" style="border: none; border-right: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Marks and    Numbers</strong><br>[[shortlineg]]</span></p></td>
<td width="25%" colspan="4" valign="top" style="border: none; border-right: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Number    &amp; Kind of Packages</strong><br>[[shortlineg]]</span></p></td>
<td width="25%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Description    of Goods </strong><br>[[description]]</span></p></td>
<td width="12%" colspan="2" valign="top" style="border: none; border-right: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Gross    Weight</strong><br>[[shortlineg]]</span></p></td>
<td width="13%" valign="top" style="border: none; border-right: 1px solid #000"><p style="line-height: 1;"><span style="font-size: 9px;"><strong>Measurements</strong><br>[[shortlineg]]</span></p></td>
</tr>
<tr style="border: none; border-color: #fff">
<td width="100%" colspan="12" valign="top" style="border: none;"><p style="line-height: 1;"><strong style="font-size: medium; background-color: transparent;">General Insuring Conditions:&nbsp;</strong><br></p></td>
</tr>
<tr style="border: none; border-color: #fff">
<td width="100%" colspan="12" valign="top" style="border: none; border-color: #fff"><p style="line-height: 1;"><span style="font-size: 8px;">Institute Cargo Clauses (A) ///    Institute Cargo Clauses (Air) /// Institute Frozen Food Clauses (A) /// The    applicable Institute War Clauses /// The applicable Institute Strikes Clauses    /// Institute Replacement Clause /// Institute Classification Clause 1/01/2001 /// Termination    of Transit Clause (Terrorism) /// Cargo ISM Endorsement /// Cargo ISPS    Endorsement /// Institute Cyber Attack Exclusion Clause /// Institute    Classification Clause /// Embargo &amp; Sanctions Exclusion Clause ///    Institute Radioactive Contamination, Chemical, Biological, Bio-chemical and    Electromagnetic Weapons Exclusion Clause.</span></p></td>
</tr>
<tr style="border: none; border-color: #fff">
<td width="14%" valign="top" style="border: none; border-color: #fff"><p><strong style="font-size: medium;">Deductible</strong></p></td>
<td width="15%" colspan="2" valign="top" style="border: none; border-color: #fff"><p><span style="font-size: 9px;"><strong>$</strong>[[deductible]]<strong> </strong></span></p></td>
<td width="20%" colspan="3" valign="top" style="border: none; border-color: #fff"><p><span style="font-size: 9px;">each and every claim</span></p></td>
<td width="36%" colspan="4" valign="top" style="border: none; border-color: #fff"><p align="right"><strong style="font-size: medium;">Letter of Credit No: (if applicable)</strong><strong> </strong></p></td>
<td width="15%" colspan="2" valign="top" style="border: none; border-color: #fff"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
</tr>
<tr style="border: none; border-bottom: 1px solid #000">
<td width="100%" colspan="12" valign="top"><p style="line-height: 1;"><span style="font-size: 8px;"><strong>Procedure    in the Event of Loss or Damage for which the insurer may be Liable:</strong><br>
  <u>Liability of Carriers, Bailees or Other Third Parties</u>: It is the duty of the Assured and their agents, in all cases to take    such measures as be reasonable for the purpose of averting or minimising a    loss and to ensure that all rights against carriers, bailees or other third    parties are properly preserved and exercised, in particular the Assured or    their agents are required:- (1) To claim immediately on the carriers, port    authorities or other bailees for any missing packages. (2) In no    circumstances except under written protest to give clean receipts where goods    are in doubtful condition. (3) When delivery is made by container, to ensure    that the Container and its seals are examined immediately by their respective    official. If the container is delivered damaged or with seals broken or    missing or with seals other than as stated in the shipping documents, to    clause the delivery receipt accordingly and retain all defective or irregular    seals for subsequent identification. (4) To apply immediately for survey by    carriers’ or other bailees’ representatives if any loss or damage be apparent    and claim on the carriers or other bailees for any actual loss or damage    found at such survey. (5) To give notice in writing to the carriers or other    bailees within three days of delivery if the loss or damage was not apparent    at the time of taking delivery. NOTE:- The consignees or their agents are    recommended to make themselves familiar with the regulations of the port    authorities at the port of discharge.<br>
  <u>Survey and Claim Settlement</u>: In the event    of loss or damage which may involve a claim under this insurance, immediate    notice of such loss or damage should be given to and a survey report obtained    from the office or agent nominated below.<br>
  <u>Documentation of Claims</u>: To enable claims to be dealt with promptly, the Assured or their    agents are advised to submit all available supporting documents without    delay, including when applicable:- (1) Original policy or certificate of    insurance. (2) Original or copy shipping invoices together with shipping    specification and/or weight notes. (3) Original bill of lading and/or other    contract of carriage. (4) Survey report or other documentary evidence to show    the extent of the loss or damage. (5) Landing account and weight notes at    final destination. (6) Correspondence exchanged with the carriers.</span></p></td>
</tr>


<tr>
<td width="44%" colspan="5" valign="top" style="border: none; border-right: 1px solid #000;"><p><span style="font-size: 9px;">Signed for    and on behalf of ABC Underwriting Pty Ltd</span></p></td>
<td width="35%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000;"><p><span style="font-size: 9px;">This    Certificate is not valid unless countersigned by a representative of [[medline]] </span></p></td>
<td width="21%" colspan="4" rowspan="2" valign="top" style="border: none;"><p align="center"><span style="font-size: 9px;"><strong>Place of    Issue</strong><br>
  [[medline]]<strong> </strong><br>
  <strong>Date of    Issue</strong><br>
  [[medline]]</span><strong> </strong></p></td>
</tr>
<tr style="border: none; border-color: #fff;">
<td width="44%" colspan="5" valign="top" style="border: none; border-right: 1px solid #000;"><p align="center"><br></p></td>
<td width="35%" colspan="3" valign="top" style="border: none; border-color: #fff;"><p>&nbsp;</p></td>
</tr>
</tbody></table>

                                                                                                
