/* CSS Document */
/*html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.025);
}*/
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*****gutter sizing****/
.gutter-md {
  margin-right: -7px !important;
  margin-left: -7px !important;
}

.gutter-md > [class*='col-'] {
  padding-right: 7px;
  padding-left: 7px;
}

.gutter-sm {
  margin-right: -2px !important;
  margin-left: -2px !important;
}

.gutter-sm > [class*='col-'] {
  padding-right: 2px;
  padding-left: 2px;
}


.quoteaction-button {
  height: 82px;
  /*background-color: #6d6e70 !important;*/
  line-height: 70px !important;
  text-align: center !important;
  white-space: normal !important;
  margin-top: 5px;
}
.quoteaction-button:hover{
  opacity: 0.9;
}
.quoteaction-button span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

.header-subtext{
  font-weight: bold;
}

.close-gnre{
	cursor: pointer;
}

@media (min-width: 768px){
	header .header-content {
	  position: absolute;
	  top: 40%;
	}
}


.omb_row-sm-offset-3 .notfor_studio div:first-child[class*="col-"] {
  margin-left: 0px;
}

.div-rounded{
	border-radius: 6px;
}

.div-circle{
	border-radius: 50%;
}

.front-form {
  /*background-color: rgba(240, 95, 64, .5);
  padding: 5px;*/
}

.modal-backdrop {
   background-color: #fff;
}

/*.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #eee;
}*/
.search_class{
	margin-top: 51px;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

.more_filter .form-group{
	/*display: none;*/
}

.no-padding-bottom{
	padding-bottom: 15px;
}

.no-padding-top{
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-padding-bottom-sm{
	padding-bottom: 25px;
}

.section-padding-sm{
	padding: 25px;
}

.section-padding-md{
	padding: 37px;
}

.search-section{
	padding-top: 25px;
	padding-bottom: 60px;
	margin-top: -130px;
}


@media (max-width: 767px){
	.search-section{
		padding-top: 25px;
		padding-bottom: 25px;
		margin-top: -95px;
	}
}


.header-content-inner h1{
	font-size: 48px !important;
}


.login_section{
	padding-top: 50px;
}

.input-rounded{
	/*border-radius: 300px;*/
}


.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    /*border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;*/
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    /*border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;*/
}

.nav-bg{
	padding: 25px 25px;
	background: #4c4441;
}

button.close {
	margin-top: 0px !important;
}


.scroll_check{
	height: 100px;
	overflow: scroll;
    overflow-x:hidden;
}


.dataTables_paginate, .dataTables_info {
	padding: 15px;
}



#about{
    background-image: url('../img/Image_3_studio_dancing.jpg');
	color: #252a40;
}

#inspire{
    background-image: url('../img/Image_5_female_dancer.jpg');
	color: #fff;
}

#about h2, #inspire h2{
	font-size: 62px;
	font-stretch:narrower;
	font-weight: 400;
}


#services{
    background-image: url('../img/Image_4_wedding_dance.jpg');
	color: #fff;
}

#services h2{
	font-size: 35px;
	font-stretch:narrower;
	font-weight: 400;
}


hr.dark {
  border-color: #252a40;
}

.genre_list{
	margin-left: -7px;
	margin-right: -7px;
}
.genre_list > [class*='col-'] {
  padding-right: 7px;
  padding-left: 7px;
}

.md-gutter > [class*='col-'] {
  padding-right: 0px;
  padding-left: 15px;
}

.sm-gutter > [class*='col-'] {
  padding-right: 2px;
  padding-left: 2px;
}

@media (min-width: 768px){
	.cover-section {
		min-height: 100%;
		background-position: center;
	}

	#inspire {
		min-height: 100%;
		background-position: top center;
	}

	#about .text-center, #inspire .text-center {
	  padding-top: 80px;
	}

	#services .text-center {
	  padding-top: 60px;
	  text-align: left !important;
	}
}


.bg-shoes{
	background-position: center top;
	background-size: cover;
    background-image: url('../img/transit.jpg');
}

.bg-hands{
	background-position: center;
    background-image: url('../img/header.jpg');
}

.bg-feet{
	background-position: center;
    background-image: url('../img/Image_2_ballerina_foot.jpg');
	background-size: cover;
}


.bg-white{
	background-color: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.text-white{
	color: #fff;
}
.my-panel-title{
	padding: 50px;
	font-size: 25px;
	color: #14192e;
	text-align: center;
}

/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}



.omb_login .omb_forgotPwd {
	text-align: right;
	margin-top:10px;
}
.omb_login .omb_noAcc {
	text-align: left;
	margin-top:10px;
}

/******bg colors*****/
.bg-choco{
	background: #14192e;/* #4c4441;*/
}
.bg-lavander{
	background: #320063;
}
.bg-maroon{
	background: #003E42;
}
.bg-deep{
	background: #0B3D4D;
}
.bg-grass{
	background: #3E4F00;
}
.bg-blood{
	background: #630000;
}

.bg-black{
	background: #000;
}
.bg-black-trans{
	background: rgba(0, 0, 0, .5);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: rgba(0, 0, 0, .7) !important;
}

.forohfor{
	font-size: 180px;
}

/*****************show google location finder on top************************/
.pac-container {
	z-index: 2000 !important;
}


/********video bg********/

header{
	background: none;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(../img/dance.png) no-repeat;
background-size: cover;
}

section, .section{
	background: #fff;
}

section{
	z-index: 50;
}

.section {
	padding: 100px 0;
	z-index: 50 !important;
}


@media (min-width: 768px){
/*	#mainNav {
	  padding-top: 15px;
	  padding-bottom: 15px;
	}
*/}


/******portfolio modal****/
.portfolio-modal{
	overflow:scroll;
    overflow-x:hidden;
    overflow-y: show;
	min-height: 101%;
	/*z-index: 1900 !important;*/

}
.portfolio-modal .modal-content {
    padding: 75px 0;
	/*z-index: 1901;*/
	min-height: 100%;
    border: 0;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
	text-align: center;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 50px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.modal-backdrop{
	/*z-index: 1020;*/
}

/**********bnt- outline*******/

.text-pink{
  color: #fe9195;
}

.text-red{
  color: #ff5a5f;
}

.bg-red{
  background-color: #ff5a5f;
  color: #fff;
}

a.bg-red{
	text-transform: uppercase;
	border-color: #ff5a5f;
	border-bottom-color: #e00007;
	font-weight: bold;
}
a.bg-red:hover, a.bg-red:active, a.bg-red:visited, a.bg-red:focus{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.btn-red.btn {
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: rgba(194, 33, 51, 1);
  color: #fff;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}


/********cities cover*******/
.city-cover {
	background: #eee/* url(../img/intro-bg.png) no-repeat center center fixed*/;
	min-height: 460px;
	/*margin-top: 93px;*/
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.city-cover-title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  line-height: 50px;
  color: #fff;
  text-align: left;
  padding-top: 44px;
}

.city-cover_inner_box {
  text-align: left;
  margin: 82px auto 0 auto;
  padding-top: 25px;
}

.req_search_result{
	height: 600px;
	overflow-y: auto;
}

.btn-default{
	border-color: #ccc;
}

/***********fb card********/

.fb-profile{
    background-color: rgba(214, 224, 226, 0.2);
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile
{
    border: 5px solid rgba(255,255,255,0.5);
    margin: -40px 10px 0px 10px;
    z-index: 9;
    width: 85px; /*35%;*/
}
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
	margin: 0px;
}

.req_details p{
	margin-bottom: 6px;
}

.req_book_btn{
	cursor: pointer;
}

/*******progress bar*****/
#progress {
	position:relative;
	width:100%;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
	font-size: 70%;
}
#bar {
	background-color: #428bca/*#B4F5B4*/;
	width:0%;
	height:20px;
	border-radius: 3px;
}
#percent {
	position:absolute;
	display:inline-block;
	top:3px;
	left:48%;
}

a.genre_thumbs, a.genre_thumbs:active{
	text-decoration: none !important;
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	vertical-align: middle;
}

a.genre_thumbs span, a.genre_thumbs:active span{
	height: 40px;
}

a.genre_thumbs:hover{
	border-color: #666 !important;
}

a.genre_thumbs.active, a.genre_thumbs.active:focus, a.genre_thumbs.active:hover, a.genre_thumbs.active:active, a.genre_thumbs.active:visited{
	color: #fff;
	background: #666;
	border-color: #666;
}


/*****checkbox reset style******/
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 23px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #4caf50;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #ff9800;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #e51c23;
}


@media (min-width: 768px) {

  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 30px;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}



@media (min-width: 768px) {

  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }

}

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  padding-left: 25px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="radio"],
.checkbox-inline input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  vertical-align: -4px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #666666;
  border-radius: 2px;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #2196f3;
  border-color: #2196f3;
}
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #bbbbbb;
}
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #bbbbbb;
  border-color: transparent;
}
.has-warning input:not([type=checkbox]),
.has-warning .form-control,
.has-warning input:not([type=checkbox]):focus,
.has-warning .form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #ff9800;
  box-shadow: inset 0 -2px 0 #ff9800;
}
.has-error input:not([type=checkbox]),
.has-error .form-control,
.has-error input:not([type=checkbox]):focus,
.has-error .form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #e51c23;
  box-shadow: inset 0 -2px 0 #e51c23;
}
.has-success input:not([type=checkbox]),
.has-success .form-control,
.has-success input:not([type=checkbox]):focus,
.has-success .form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #4caf50;
  box-shadow: inset 0 -2px 0 #4caf50;
}

/******bs-switch******/
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #428bca;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #ff5a5f;
}

/**********main nav dropdown********/
@media (min-width: 768px){
	.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
	   color: #428bca;
	}
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #428bca;
  background-color: transparent;
}

.label-circle{
	padding: 2px 6px;
	border-radius: 50%;
}

.main-nav-list li .label{
	background-color: #eee;
	color: #777;
}
.main-nav-list li.active .label{
	background-color: #428bca;
	color: #fff;
}


/**************drop down*************/
.my-dropdown .dropdown-menu {
    background-color: #f5f5f5/*14192e*/;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 200px;
    /*margin-left: -125px;
    left: 50%;*/
}

.dropdown-form .dropdown-menu{
    background-color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 100%;
}

.dropdown-form .btn{
    width: 100%;
}

.dropdown-form .fa{
	margin-top: 2px;
}

.dropdown-form .dropdown-menu>li>a {
    color:#0080b3;
	padding-top: 8px;
	font-size: 16px;
	padding-bottom: 8px;
}

.dropdown-form .dropdown-menu>li.active>a {
    color:#fff;
	background-color: #0080b3;
}

.my-dropdown.my-dropdown-merge .dropdown-menu{
	margin-top: 0px;
}
.my-dropdown.my-dropdown-merge .btn{
    width: 200px;
}
.my-dropdown .dropdown-menu .divider {
    background:none;
}

.my-dropdown .dropdown-menu>li>a {
    color:#14192e/*f5f5f5*/;
	padding-top: 8px;
	padding-bottom: 8px;
}

.my-dropdown .dropdown-menu>li.active>a {
    color:#fff;
	background-color: #0080b3;
}

.my-dropdown .dropdown-menu>li>a:hover {
    color:#14192e;
}

.my-dropdown.my-dropdown-bottom-right .dropdown-menu {
	margin-top: 0px;
}

.my-dropdown.my-dropdown-top-center .dropdown-menu {
	margin-bottom:10px;
}

.my-dropdown .dropdown-menu:before {
    content: "";
    position: absolute;
    margin-left: -10px;
    z-index: 10;
}

.my-dropdown.my-dropdown-bottom-right .dropdown-menu:before {
    border-bottom: 10px solid #f5f5f5;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
	top: -10px;
    left: 75%;
}

.my-dropdown.my-dropdown-top-center .dropdown-menu:before {
    border-top: 10px solid #14192e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
	bottom: -10px;
    left: 50%;
	margin-bottom:10px;

}

.my-dropdown .divider {
    border-top:1px solid rgba(0,0,0,0.1);
}

.studio-details strong{
	padding-top: 0px;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
}

.img-opacity-effect:hover{
	opacity: .8;
}

.panel-main{
  border-color: #428bca;
}

.panel-main>.panel-heading {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.list-group-dropdown a{
	display: none;
	visibility: hidden;
}

.list-group-dropdown a.selected{
	display: block;
	visibility: visible;
}

/**reset border-radius form in modal*/

.form-input-lg input, .form-input-lg a.btn, .form-input-lg textarea, .form-input-lg select, .form-input-lg button, .form-input-lg .addtask-btn, .form-input-lg .img-rounded, .form-input-lg .alert {
  -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;
}

.form-input-lg .btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}
.form-input-lg .btn-group .btn:last-child:not(:first-child):not(.dropdown-toggle){
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
	border-right: 1px solid #eeeeee !important;
}

.form-input-lg input, .form-input-lg select, .form-input-lg textarea{
	border-width: 1px !important;
}

.form-input-lg input.form-control, .form-input-lg select.form-control{
	height: 68px;
	padding-left: 24px;
	padding-right: 24px;
	line-height: 68px;
}
.form-input-lg .input-pad-sm input.form-control, .form-input-lg .input-pad-sm textarea.form-control{
	padding-right: 15px;
	padding-left: 15px;
}

.btn-xl{
  padding-bottom: 18px;
  padding-top: 18px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 3px;
}

.well-info{
	background-color: #5bc0de;
	border-color: #5bc0de;
	color: #fff;
}

.well-warning{
	background-color: #f0ad4e;
	border-color: #f0ad4e;
	color: #fff;
}

.well-maroon{
	background-color: #B74934;
	border-color: #B74934;
	color: #fff;
}

.well-gold{
	background-color: #AA9A66;
	border-color: #AA9A66;
	color: #fff;
}
.well-blue{
	background-color: #4E7AC7;
	border-color: #4E7AC7;
	color: #fff;
}

.section-simple{
	background: #efefef;
}

.section-simple h1{
	 margin-top: 15px !important;
}

.label-lg{
	font-size: 13px !important;
}

.table-cert tr>td{
	padding: 5px;
}

.bootstrap-select ul.dropdown-menu{
	max-height: 295px;
	overflow-y: scroll;
	min-height: 134px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 13px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 20px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.label-circle{
	border-radius: 50% !important;
	padding: 5px 8px 5px 8px !important;
}



.clickable-cargo-table tbody>tr{
	cursor: pointer;
}

.thumbnail-cargo{
	margin-bottom: 0px !important;
}


a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
	background: #666 !important;
	color: #fff;
	border: #666 !important;
}

.btn-primary{
	background: rgba(194, 33, 51, 1) !important;
	border: rgba(194, 33, 51, 1) !important;
}
.btn-info{
	background: #666 !important;
	border: #656565 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	opacity: .9 !important;
}

.pagination li.active a{
	border: #666 !important;
	background: #666 !important;
}

a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a.active{
    background-color: rgba(194, 33, 51, 1) !important;
	color: #fff !important;
}

.navbar-default .navbar-nav > li > a{
	color: rgba(194, 33, 51, 1) !important;
}
