a {
    color: rgba(194, 33, 51, 1);
}
.title-hero {
    font-weight: 700;
    color: #6d6e70;
}
@media (min-width: 768px) {
    .still_menu {
        position: fixed;
        /*padding-right: 45px;*/

        top: 225px;
        width: 20%;
    }
}
.hidden {
    display: none;
    visibility: hidden;
}
/* reset our lists to remove bullet points and padding */

.mainmenu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* make ALL links (main and submenu) have padding and background color */

.mainmenu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    padding: 10px;
    color: #000;
}
.mainmenu a.active {
    background-color: #ddd;
}
/* add hover behaviour */

.mainmenu a:hover {
    background-color: #C5C5C5;
}
/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}
/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
    background-color: #999;
}
/* hover behaviour for links inside .submenu */

.submenu a:hover {
    background-color: #666;
}
/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
.answer_container>div {
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}
.answer_container ul li,
.answer_container ol li {
    color: #868686;
}
.row > .leftbar-still {
    /* position: fixed;
    top: 110px;
    left: 0px; */

    paddin
}
.row > .leftbar-still nav {
    padding-left: 15px;
}
/******portfolio modal****/

.portfolio-modal {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: show;
    min-height: 101%;
    /*z-index: 1900 !important;*/
}
.portfolio-modal .modal-content {
    margin-left: -17px;
    padding: 75px 0;
    /*z-index: 1901;*/

    min-height: 100%;
    border: 0;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.portfolio-modal .modal-content h2 {
    margin: 0;
    text-align: center;
    font-size: 3em;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}
.portfolio-modal .close-modal:hover {
    opacity: .3;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 50px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
/***side progress**/

nav .lifecycle {
    /*border-top: 1px dotted #d2d2d2;*/

    padding-top: 4px
}
nav .lifecycle span {
    font-size: 13px;
    display: block;
    text-align: center;
    margin-bottom: 3px;
    color: #505050;
    margin-bottom: 15px
}
nav .lifecycle h5 {
    font-size: 16px;
    margin-bottom: 3px;
    text-align: center;
    color: #454855
}
@media screen and (max-width: 480px) {
    nav .lifecycle {
        display: none
    }
}
nav .lifecycle ul.list {
    padding: 0;
    margin-top: 10px;
    background-color: transparent;
}
@media screen and (max-width: 480px) {
    nav .lifecycle ul.list {
        width: 200px;
        overflow: hidden;
        margin: 0 auto
    }
}
nav .lifecycle ul.list .item {
    height: 40px
}
nav .lifecycle ul.list .item:nth-child(1) .circle {
    -webkit-animation-delay: .02s;
    animation-delay: .02s
}
nav .lifecycle ul.list .item:nth-child(2) .circle {
    -webkit-animation-delay: .04s;
    animation-delay: .04s
}
nav .lifecycle ul.list .item:nth-child(3) .circle {
    -webkit-animation-delay: .06s;
    animation-delay: .06s
}
nav .lifecycle ul.list .item:nth-child(4) .circle {
    -webkit-animation-delay: .08s;
    animation-delay: .08s
}
nav .lifecycle ul.list .item:nth-child(5) .circle {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}
nav .lifecycle ul.list .item:nth-child(6) .circle {
    -webkit-animation-delay: .12s;
    animation-delay: .12s
}
nav .lifecycle ul.list .item:nth-child(7) .circle {
    -webkit-animation-delay: .14s;
    animation-delay: .14s
}
nav .lifecycle ul.list .item:nth-child(8) .circle {
    -webkit-animation-delay: .16s;
    animation-delay: .16s
}
nav .lifecycle ul.list .item:nth-child(9) .circle {
    -webkit-animation-delay: .18s;
    animation-delay: .18s
}
nav .lifecycle ul.list .item .indicator {
    width: 50px;
    height: 40px;
    position: relative;
    float: left;
    padding: 0;
    border: none;
}
nav .lifecycle ul.list .item .indicator .semiline {
    width: 3px;
    height: 50%;
    margin: 0 auto;
    background: #d2d2d2
}
nav .lifecycle ul.list .item .indicator .circle {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d2d2d2;
    top: 5px;
    left: 10px;
    background: #f9f9f9
}
nav .lifecycle ul.list .item span {
    line-height: 40px;
    font-size: 14px;
    text-align: left
}
nav .lifecycle ul.list .item.end .semiline:nth-child(2),
nav .lifecycle ul.list .item.start .semiline:first-child {
    background: inherit
}
nav .lifecycle ul.list .item.complete .circle {
    background: #6d6e70;
    border-color: #6d6e70
}
nav .lifecycle ul.list .item.current .semiline:first-childe {
    background: #6d6e70
}
nav .lifecycle ul.list .item.current .circle {
    background: rgba(194, 33, 51, 1);
    border-color: rgba(194, 33, 51, 1)
}
nav .lifecycle ul.list .item a:hover {
    text-decoration: none;
}
.panel-quote .panel-heading {
    background: #fff;
    border-bottom: none;
}
.panel-quote .panel-heading h4 {
    color: rgba(194, 33, 51, 1);
}
.the-rating-well .well {
    padding: 50px 0 50px 0;
}
.the-rating-well .well h4.panel-title {
    margin: 5px 0 5px 0;
}
/****genres list**/

.genre_list {
    margin-left: -7px;
    margin-right: -7px;
}
.genre_list > [class*='col-'] {
    padding-right: 7px;
    padding-left: 7px;
}
a.genre_thumbs,
a.genre_thumbs:active {
    border: 1px solid #eee;
    margin-bottom: 15px;
    text-decoration: none !important;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    vertical-align: middle;
}
a.genre_thumbs span,
a.genre_thumbs:active span {
    height: 40px;
    color: rgba(194, 33, 51, 1);
}
a.genre_thumbs:hover {
    border-color: #666 !important;
}
a.genre_thumbs.active,
a.genre_thumbs.active:focus,
a.genre_thumbs.active:hover,
a.genre_thumbs.active:active,
a.genre_thumbs.active:visited {
    color: #fff;
    background: #666;
    border-color: #666;
}
.quoteaction-button {
    height: 82px;
    line-height: 70px !important;
    text-align: center !important;
}
.quoteaction-button span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.md-gutter > [class*='col-'] {
    padding-right: 0px;
    padding-left: 15px;
}
.sm-gutter {
    margin-left: -2px;
    margin-right: -2px;
}
.sm-gutter > [class*='col-'] {
    padding-right: 2px;
    padding-left: 2px;
}
.text-warning {
    color: orange;
}
