@charset "utf-8";
/* CSS Document */
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
html, body {
  height: 100%;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background:#4d5055;
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 0;
}
a {
  color: #009ddc;
  cursor: pointer;
}
a:hover {
  color: rgba(194, 33, 51, 1); /*#43bef0;*/
  text-decoration: none;
}
a img {
  border: none;
}
p {
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
}
.blue {
  color: #009ddc !important;
}
.green {
  color: #a4d93b !important;
}
a.green:hover{
  color: #BAEB57 !important;
}
.dark-green {
  color: #76ab0c !important;
}
.light-gray{
 color: #9ca1a6 !important;
}
h1 {
  color: #4d5055;
  font-family: Roboto Slab Light, Arial, Helvetica, sans-serif;
  font-size: 42px;
}
h2 {
  color: #4d5055;
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 28px;
}
h3 {
  font-size: 17px;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  margin: 10px 0px;
  color: #009ddc;
}
h4 {
  font-size: 17px;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  margin: 10px 0px;
  color: #4d5055;
}
h5 {
  margin-bottom: 0px;
  color: #9ca1a6;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 28px;
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto/Roboto-Regular.ttf'), url('../fonts/roboto/Roboto-Regular.eot');/* IE9 */
}
@font-face {
  font-family: Roboto Light;
  src: url('../fonts/roboto/Roboto-Light.ttf'), url('../fonts/roboto/Roboto-Regular.eot');/* IE9 */
}
@font-face {
  font-family: Roboto Slab;
  src: url('../fonts/roboto-slab/RobotoSlab-Regular.ttf'), url('../fonts/roboto-slab/RobotoSlab-Regular.eot');/* IE9 */
}
@font-face {
  font-family: Roboto Slab Light;
  src: url('../fonts/roboto-slab/RobotoSlab-Light.ttf'), url('../fonts/roboto-slab/RobotoSlab-Light.eot');/* IE9 */
}
.mobile-spacer {
  display: none;
}
.mm-fixed-top {
  right: 0;
}
.row.centered {
  padding-left: 75px;
  padding-right: 75px;
}
#my-menu {
  display: none;
}
#my-menu.mm-opened {
  display: block;
}
@media (max-width: 991px) {
  .row.centered {
    padding-left: inherit;
    padding-right: inherit;
  }
}
.navbar {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  z-index: 50;
}
.navbar-default {
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
}
.navbar-default .navbar-nav > li > a {
  color: #009ddc;
  font-size: 15px;
  line-height: 2em;
  transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
}
.navbar-default .navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #ff7b10;
  border-radius: 100%;
  padding: 9px 8px;
}
.navbar-default .navbar-toggle .icon-bar {
  width: 18px;
  background-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ff9710;
}
.navbar-default .navbar-right {
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .nav-pills li a {
    padding: 1px 15px;
    font-size: 15px;
    margin-bottom: 3px;
  }
}
.navbar-brand {
  /*margin-top: 15px;*/
}

.main_lg_nav{
	margin-top: -20px;
}

.navbar-brand img:hover {
  opacity: 0.8;
}
.navbar-brand .mobile-menu {
  margin-top: 10px;
  font-size: 15px;
  text-align: right;
}
.navbar-brand .mobile-menu .btn-rounded {
  padding: 0px 15px;
  margin-left: 25px;
}
.navbar-brand .mobile-menu a {
  color: #428bca; /*#ff7b10;*/
}
.navbar-brand .mobile-menu a:hover {
  color: #fff; /*#ff9710;*/
}
@media (max-width: 991px) {
  .navbar-brand {
    margin-top: 0px !important;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    float: right !important;
    padding-top: 10px;
  }
}
.btn-rounded {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  padding: 6px 25px;
  behavior: url(../js/PIE.htc);
}
.btn-general {
  font-size: 15px;
  padding: 6px 45px;
}
.btn-general:last-child {
  margin-top: 15px;
}
#nav-logo {
  opacity: 1;
}
.navbar-form {
  padding-right: 0px;
}
.navbar-form input {
  background: #efefef;
  color: #9ca1a6;
  border: none;
  font-size: 13px;
}
.navbar-form .title {
  display: inline-block;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-right: 10px;
  color: #4d5055;
}
.navbar-form button {
  border-radius: 100%;
  padding: 3px 5px;
}
.navbar-form button img {
  position: relative;
  left: 1px;
  top: -2px;
}
.navbar-form .form-group {
  margin-right: 8px;
}
.jumbotron {
  background: -webkit-linear-gradient(#f8f8f8, #d1d3d2);
  background: -o-linear-gradient(#f8f8f8, #d1d3d2);
  background: -moz-linear-gradient(#f8f8f8, #d1d3d2);
  background: linear-gradient(#f8f8f8, #d1d3d2);
  padding-bottom: 60px;
  position: relative;
  margin-bottom: 0px;
}
.jumbotron h1 {
  color: #333/*#4d5055*/;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, .3);
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-weight: bold;/*900;*/
  font-size: 40px;
  margin-top: 160px;
}
.jumbotron .btn-lg {
  margin-top: 15px;
}
.white-overlay {
  background: rgba(252, 252, 252, 0.5);
  top: 0px;
  bottom: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  display: none;
}

#landing-feature{
	position: relative;
}
.home-jumbo {
  background: url(../images/ship.jpg) right top no-repeat #fcfcfc;
  background-attachment: fixed;
  height: 606px; /*350px*/

}
@media (max-width: 767px) {
	.home-jumbo{
		height: inherit !important;
	}
	.jumbotron h1 {
	  margin-top: 20px;
	}

}

.home-jumbo.slide4{
	background: url(../images/landing-slideshow-4.jpg) right top no-repeat #e5ecea;
	display: none;
}
.home-jumbo.slide2{
	background: url(../images/landing-slideshow-2.jpg) right top no-repeat #e5e9ec;
	display: none;
}
.home-jumbo.slide3{
	background: url(../images/landing-slideshow-3.jpg) right top no-repeat #363634;
	display: none;
}

/*.home-jumbo.slide3 h1{
	color: #F7F7F7;
	text-shadow: 0px 0px 6px rgba(142, 142, 142, 0.31);
}*/

#news-promo, #news-promo-mobile {
  padding: 30px;
  padding-left: 0px;
  margin-top: 48px;
}

#news-promo {
	padding: 30px;
	margin-top: 78px;
	padding-top: 0px;
	border-radius: 7px;
	background: rgba(255, 255, 255, 0.3);
}

#news-promo.dark {
	color: white;
	background:rgb(65, 65, 61);
	background:rgba(65, 65, 61, 0.35);
}

#news-promo.dark  p.news{
	color: white;
}
#news-promo.dark  p.news a{
	color: #E3D2B1;
}
#news-promo.dark h3,#news-promo.dark h4{
	color: #E3D2B1;
}


#news-promo .news, #news-promo-mobile .news {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #4d5055;
}
#news-promo .news .date, #news-promo-mobile .news .date {
  color: #9ca1a6;
  padding-right:5px;
}
#news-promo .follow-us, #news-promo-mobile .follow-us {
  margin-top: 25px;
}
#news-promo .follow-us a img, #news-promo-mobile .follow-us a img {
  display: inline-block;
  margin-right: 3px;
}
#news-promo-mobile {
  padding-left: 30px;
  padding-top:0px;
  border-top: 2px solid #efefef;
}
#news-promo-mobile h3{margin-left: 15px;margin-top: 30px;}
.sub-nav {
  position: relative;
  left: 0px;
  right: 0px;
  padding: 35px 0px;
  background: #efefef;
  background: rgba(239, 239, 239, 0.9);
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 17px;
}
#home-nav {
  z-index: 100;
  top: 0;
}
.nav-pills li {
  text-align: center;
  border-right: #efefef 3px solid;
}
.nav-pills li:last-child {
  border-right: none;
}



.nav-pills li a {
  background: #ffffff;
  width: 100%;
  border-radius: 0px;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -webkit-transition: background 0.15s ease-in-out;
  color: #33699c;
}
.nav-pills li a:hover {
  background: #33699c;
  color: white;
}
.nav-pills li.active a {
  background-color: #009ddc;
  border-radius: 0px;
}
.nav-pills li.active a:hover {
  background-color: #43bef0;
}
.nav-pills li.active:after {
  content: "";
  position: absolute;
  border-color: transparent;
  left: 50%\0;
  border-width: 10px;
  border-style: solid;
  border-top-color: #33699c;
}
.nav-pills li.active:hover:after {
  border-top-color: #3374b2;
}

/*Customized nav pills
*************************************************/
.nav-pills > li.active > a{
	color: #ffffff;
	background-color: #33699c;
}
.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #3374b2;
}
/*************************************************
.end Customized nav pills*/

.section {
  text-align: center;
  padding-bottom: 100px;
}
.section h1 {
  margin-top: 15px;
}
.section h2 {
  margin: 30px auto;
  max-width: 700px;
}
@media (max-width: 767px) {
  .section {
    padding-bottom: 50px !important;
  }
	#our-solutions {
		padding-bottom:0px;
	}
}
@media (max-width: 991px) {
  .section h1 {
    padding-top: 30px !important;
    margin-top: 15px !important;
  }
}
.section-fw {
  text-align: center;
}
.section-fw .container-fw {
  max-width: 1280px;
  margin: auto;
}
#home-what {
  margin-top: inherit !important;
  background: #efefef;
}
#our-solutions {
	margin-top: inherit !important;
  /*background: #efefef;*/
}
.our-boxes-holder{
	border-radius: 6px;
	margin-top: 40px;

}
.our-solution-box{
	padding-bottom: 20px;
	border: 1px solid #c0d9f0;
	background: #fff;
	min-height: 240px;
	/*cursor: pointer;*/
}

/*.our-solution-box:hover{
	padding-bottom: 20px;
	border: 1px solid #c0d9f0;
	background: #f5f5f5;

}*/

.our-solution-box{
	border-radius: 0px;
	border-left: 1px solid #c0d9f0;
	border-right: 0px;
}
.our-solution-box.first{
	border-radius: 6px 0 0 6px;
	border-left: 1px solid #c0d9f0;
	border-right: 0px;
}
.our-solution-box.last{
	border-radius: 0 6px 6px 0 ;
	border-right: 1px solid #c0d9f0;
	border-left: 1px solid #c0d9f0;
}
.our-solution-title{
	font-size: 160%;
	color: #33699c;
	font-weight: 900;
	text-align: left;
}
.our-text{
	font-size: 17px;
	text-align: left;
	line-height: 180%;
}
@media (min-width: 992px) and (max-width: 1199px ) {
	.our-solution-box{
		min-height: 270px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) {
	.our-solution-box{
		min-height: 180px;
	}
	.our-solution-box{
		border-radius: 0px;
		border: 1px solid #c0d9f0;
	}
	.our-solution-box.first{
		border-radius: 0px;
		border: 1px solid #c0d9f0;
	}
	.our-solution-box.last{
		border-radius: 0px;
		border: 1px solid #c0d9f0;
	}
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
	.our-solution-box{
		min-height: inherit;
	}
	.our-solution-box{
		border-radius: 0px;
		border: 1px solid #c0d9f0;
		margin-bottom: 15px;
	}
	.our-solution-box.first{
		border-radius: 0px;
		border: 1px solid #c0d9f0;
		margin-bottom: 15px;
	}
	.our-solution-box.last{
		border-radius: 0px;
		border: 1px solid #c0d9f0;
		margin-top: 15px;
	}
}

#home-what p {
  margin-top: 55px;
}
#home-why{
  background: white;
}
#home-why .row {
  margin: 50px 0px;
}
#home-why .row .item {
  text-align: left;
}

@media (max-width: 991px) {
  #home-why .item {
    text-align: center !important;
  }
  #epact-stories .item {
    text-align: center !important;
  }
}
#home-why .row .item img {
  margin-bottom: 10px;
  height: 62px;
  width: 62px;
}
#home-why .row .item p {
  font-size: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #9ca1a6;
  margin: auto;
  margin-bottom: 30px;
  max-width: 450px;
}
@media (max-width: 991px) {
  #home-why .row {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  #home-why .row .item {
    text-align: center !important;
  }
  #epact-stories .row {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  #epact-stories .row .item {
    text-align: center !important;
  }
}
#home-how {
  background: #efefef;
}
#epact-stories .row {
  margin: 50px 0px;
}

#epact-stories .row .item {
  text-align: left;
}
#epact-stories .row .item p {
  font-size: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #9ca1a6;
  margin: auto;
  margin-bottom: 30px;
  max-width: 450px;
  text-align: justify;
}
#epact-stories .row .item img {
  margin-bottom: 10px;
  height: 78px;
  width: 78px;
  display: block;
    margin-left: auto;
    margin-right: auto
}

#line-1{
	position:absolute;
}
#lappytop{
	background:url(../../corporate/images/laptop.png);
	width:478px;
	height:274px;
	margin:auto;
	position:relative;
}
#laptop-screen{
	background: url(../../corporate/images/laptop-screen.png) no-repeat top;
	width: 329px;
	height: 205px;
	top: 17px;
	left: 0px;
	margin: auto;
	position: relative;
}
#diagram-mobile{
	position:absolute;
	bottom: -38px;
	right: 35px;
}
#landing-diagram{
	background-size: 99.8%;
	background-position: center 65px;
	padding-top: 130px;
	padding-bottom: 60px;
	position:relative;
}
.curvy{
	position: absolute;
}
.flipped-Y{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	right:0px;
}
.diagram-circle{
	position:absolute;
	z-index: 2;
}
#home-what .container{
	position:relative;
}
.subsection h1 {
  font-size: 32px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  line-height: 1.2em;
}
.subsection h2 {
  margin-top: 100px;
}
#home-families {
  background: #e1f5fd;
}
#home-families h1 {
  color: #009ddc;
}
#home-organizations {
  background: #e9f7cf;
}
#home-organizations h1 {
  color: #76ab0c;
}
#home-organizations .video-link {
  background: #a4d93b;
}
.sublink {
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
  font-size: 21px;
  position: relative;
  line-height: 1.5em;
  white-space: nowrap;
}
.sublink:after {
  content: "";
  position: absolute;
  right: -32px;
  width: 23px;
  top: 4px;
  height: 22px;
  padding: 0px 10px;
  border-radius: 100%;
}
.sublink-small{
	font-size:18px;
	margin-left:5px;
}
.sublink-small:after{
	top:2px;
}
.sublink-blue {
  color: #009ddc;
}
.sublink-blue:hover {
  color: #43bef0;
}
.sublink-blue:hover:after {
  background: #43bef0 url('../images/chevron-right-small.png') no-repeat center;
}
.sublink-blue:after {
  background: #009ddc url('../images/chevron-right-small.png') no-repeat center;
}
.sublink-green {
  color: #76ab0c;
}
.sublink-green:hover {
  color: #99cc33;
}
.sublink-green:hover:after {
  background: #99cc33 url('../images/chevron-right-small.png') no-repeat center;
}
.sublink-green:after {
  background: #a4d93b url('../images/chevron-right-small.png') no-repeat center;
}
.sublink-orange {
  color: #ff7b10;
}
.sublink-orange:hover {
  color: #ff9710;
}
.sublink-orange:hover:after {
  background: #ff9710 url('../images/chevron-right-small.png') no-repeat center;
}
.sublink-orange:after {
  background: #ff7b10 url('../images/chevron-right-small.png') no-repeat center;
}
.video-link {
  background: #009ddc;
  border-radius: 100%;
  color: white;
  position: relative;
  padding: 21px;
}
.video-link img {
  padding-left: 5px;
  position: relative;
}
.video-link:hover {
  background: #43bef0;
}
.video-link:after {
  content: "Watch video";
  background: white;
  position: absolute;
  top: 70px;
  left: -64%;
  font-size: 15px;
  color: #4d5055;
  border-radius: 30px;
  padding: 6px 25px;
  width: 140px;
}
#video-organizations.video-link {
  background: #a4d93b;
}
#video-organizations.video-link:hover {
  background: #99cc33;
}
#video-families-text {
  margin-top: 30px;
}
#video-families-text a {
  background: white;
  text-decoration: none;
  font-size: 15px;
  color: #4d5055;
}
.general-content {
  max-width: 713px;
  text-align: left;
  margin: auto;
}
.general-content h1, .general-content h2, .general-content h3, .general-content h4, .general-content h5{
	text-align:center;
}
.general-content h2 {
  max-width: 713px;
}
.general-content h3{
	color: #4d5055;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 21px;
	line-height: 28px;
	padding: 30px 0px;
}
.carousel-stories .active.left {
  left: -33%;
}
.carousel-stories .next {
  left: 33%;
}
.carousel-stories .prev {
  left: -33%;
}
#news-promo .carousel-indicators {
  background: none !important;
}
#news-promo .carousel-indicators li {
  background-color: #d9d9d9;
}
#news-promo .carousel-indicators li.active {
  background-color: #9ca1a6;
}
#epact-stories{
	background: white;
}
#epact-stories .story {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
#epact-stories .story p {
  margin-top: 30px;
  text-align: left;
  color: #76ab0c;
  font-size: 14px;
  line-height: 21pt;
}
#epact-stories .story p .author {
  font-style: italic;
  color: #9ca1a6;
}
#epact-stories .story img {
  height: 78px;
  width: 78px;
}
.carousel-indicators {
  background: #d9d9d9;
  width: 210px;
  margin: auto;
  position: static;
}
.carousel-indicators li {
  background-color: #9ca1a6;
  border: none;
  margin: 1px 9px;
  width: 8px;
  height: 8px;
}
.carousel-indicators .active {
  background-color: white;
  margin: 1px 9px;
  height: 8px;
  width: 8px;
}
.carousel-control.left, .carousel-control.right {
  width: 35px;
  height: 63px;
  top: 50%;
  background-image: none;
}
.carousel-control.left {
  background: url(../images/carousel-left.png) bottom no-repeat;
  left: -75px;
}
.carousel-control.right {
  background: url(../images/carousel-right.png) bottom no-repeat;
  right: -75px;
}
@media (max-width: 767px) {
  .carousel-control.left, .carousel-control.right {
    display: none;
  }
  .story {
    display: none;
    margin-top: 30px !important;
  }
  .active .story:first-child {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 991px) {
  #epact-stories h2 {
    display: none !important;
  }
}
#footer {
  background: #4d5055;
  color: #d9d9d9;
}
#footer .container {
  padding-top: 50px;
}
#footer a {
  color: #d9d9d9;
}
#footer a:hover {
  color: #009ddc;
}
#footer h3 {
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
}
#footer ul {
  list-style-type: none;
  padding: 0px;
}
#footer-tweets {
  padding-bottom: 15px;
}
#footer-tweets .tweet a {
  color: #009ddc;
}
#footer-tweets .tweet a:hover {
  color: #43bef0;
}
#footer-bottom {
  text-align: center;
  margin-top: 30px;
}
#social-facebook {
  background: url(../images/icon-facebook.png) no-repeat bottom;
  margin-left: 0px;
}
#social-twitter {
  background: url(../images/icon-twitter.png) no-repeat bottom;
}
#social-youtube {
  background: url(../images/icon-youtube.png) no-repeat bottom;
}
#social-linkedin {
  background: url(../images/icon-linkedin.png) no-repeat bottom;
}
#social-gplus {
  background: url(../images/icon-gplus.png) no-repeat bottom;
}
#social-rss {
  background: url(../images/icon-rss.png) no-repeat bottom;
}
#footer-facebook {
  background: url(../images/footer-facebook.png) no-repeat bottom;
}
#footer-twitter {
  background: url(../images/footer-twitter.png) no-repeat bottom;
}
#footer-youtube {
  background: url(../images/footer-youtube.png) no-repeat bottom;
}
#footer-linkedin {
  background: url(../images/footer-linkedin.png) no-repeat bottom;
}
#footer-gplus {
  background: url(../images/footer-gplus.png) no-repeat bottom;
}
#footer-rss {
  background: url(../images/footer-rss.png) no-repeat bottom;
}
.social-icon, .footer-icon {
  margin-left: 10px;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: -99999px;
}
.social-icon:first-child, .footer-icon:first-child {
  margin-left: 0px;
}
.social-icon:hover, .footer-icon:hover {
  background-position: 0 0 !important;
}
.footer-icon {
  width: 30px;
  height: 30px;
}
#copyright {
  margin-bottom: 60px;
  margin-top: 10px;
}
#copyright li {
  display: inline-block;
  margin-left: 15px;
}
#copyright .text {
  color: #9ca1a6;
  margin-left: 0px;
}
@media (max-width: 767px) {
  .text {
    display: block !important;
  }
}
#using-jumbo, #using-photos {
  text-align: center;
  background: #efefef;
}
#using-jumbo {
  padding-top: 35px;
  padding-bottom: 65px;
}
#using-jumbo .btn {
  margin-top: 30px;
}
#using-jumbo h2 {
  margin: auto;
  max-width: 700px;
  margin-top: 35px;
}
#using-photos img {
  max-width: 50%;
}
.img-stack {
  float: left;
}
.img-stack:last-child {
  float: none;
}
#using-reliable {
  background: #efefef;
}
.gray-link {
  color: #4d5055;
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 28px;
}
#using-options .container {
  margin-top: 50px;
}
#using-options h1 {
  font-size: 32px;
  margin-top: 15px;
}
#using-options .row {
  margin-left: -60px;
  margin-right: -60px;
}
#using-video {
  background: #efefef;
}
#using-video h1 {
  font-size: 42px;
  margin-top: 60px;
}
#using-video p {
  font-size: 21px;
  line-height: 28px;
}
#using-help {
  background: #efefef;
}
#using-help h1 {
  font-size: 42px;
  margin-top: 60px;
}
#using-help h2 {
  margin-top: 30px;
}
#using-help .col-md-5 {
  padding-left: 12px;
  padding-right: 12px;
}
#using-help .help-info {
  padding-right: 30px;
}
#using-help .item .img {
  width: 50px;
  height: 50px;
}
#using-who-family .tile-description, #using-who-org .tile-description {
  background: #009ddc;
  padding: 30px;
  color: white;
  font-size: 21px;
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
}
#using-who-family .back .pad, #using-who-org .back .pad {
  padding: 30px;
}
#using-who-family .wrapper, #using-who-org .wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
}
#using-who-family .wrapper:after, #using-who-org .wrapper:after {
  padding-top: 56.25%;
  display: block;
  content: '';
  color: white;
}
#using-who-family .main, #using-who-org .main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*fill parent*/

  font-size: 21px;
  color: white;
}
#using-who-family .main {
  background-color: #009ddc;
}
#using-who-family .who-title {
  color: #009ddc;
}
#using-who-family .who-title.hovered {
  color: white;
  background: #43bef0;
}
#using-who-org .back {
  background: #99cc33 !important;
}
#using-who-org .main {
  background-color: #99cc33;
}
#using-who-org .who-title {
  color: #76ab0c;
}
#using-who-org .who-title.hovered {
  color: white;
  background: #a4d93b;
}
.who-item {
  padding-left: 0px;
  padding-right: 0px;
}
.who-item a {
  color: white;
}
.who-item .who-img {
  width: 100%;
  height: 100%;
}
.who-item .who-text {
  padding: 30px;
  display: none;
  color: white;
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
  font-size: 21px;
}
.who-item .who-title {
  font-size: 17px;
  padding: 6px 0px;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  position: relative;
  top: -6px;
  background: white;
}
.btn-using-who {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-using-who:hover {
  text-decoration: none !important;
  background: #43bef0;
  color: white;
}
#using-list {
  margin: auto;
}
.help-item {
  padding: 20px 15px;
  background: white;
  color: #4d5055;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
  text-align: left;
  font-size: 17px;
  border-right: 3px solid #efefef;
}
.help-item img {
  display: inline-block;
  height: 50px;
  vertical-align: top;
}
#closer-look {
  border-bottom: solid #efefef 4px;
}
.closer-item {
  display: none;
}
.closer-item:first-child {
  display: block;
}
.closer-item img {
  max-width: 100%;
  max-height:400px;
}
.general-content h1 {
  margin-top: 60px;
}
.general-content h2 {
  margin-bottom: 40px;
}
.general-content h3{
	text-align:left;
}
.general-content p {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: left;
  line-height: 28px;
  color: #65696f;
  padding: 30px 0px;
margin: 0px;
}
.general-content li {
font-size: 17px;
color: #65696f;
padding-bottom: 10px;
font-family:Roboto Slab, Arial, Helvetica, sans-serif;
}
#team-description {
  padding-bottom: 30px;
}
#team-landing {
  background: #efefef;
}
#team-photos .team-item {
  max-width: 25%;
  display: inline-block;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
}
.team-info {
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  background: #efefef;
}
.team-info:hover {
  background: white;
}
.team-name {
  font-size: 17px;
  color: #009ddc;
  display: block;
  padding-top: 10px;
}
.team-role {
  font-size: 14px;
  color: #4d5055;
  padding-bottom: 10px;
  display: block;
}
#team-photos .row {
  background: white;
  padding-bottom: 100px;
}
.img-team {
  width: 100%;
}
.row-ns {
  margin-left: 0px;
  margin-right: 0px;
}
.col-ns {
  padding-left: 0px;
  padding-right: 0px;
}
#staff-nav, #staff-photo {
  background: #efefef;
}
#staff-photo {
  text-align: center;
}
#staff-photo img {
  display: inline-block;
}
.staff-role {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 21px;
  color: #9ca1a6;
  margin: 15px 0px;
  text-align:center;
}
.staff-quote {
  background: url(../images/icon-quote-blue.png) no-repeat center top;
  padding-top: 100px;
  margin: 40px 0px;
  color: #009ddc;
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
  font-size: 21px;
  text-align:center;
  line-height: 28px;
}

.testimonial-quote {
  background: url(../images/icon-quote.png) no-repeat center top;
  padding-top: 100px;
  margin: 40px 0px;
  color: #76ab0c;
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
  font-size: 21px;
  text-align:center;
  line-height: 28px;
}

#get-started-section {
  background: #efefef;
  padding-bottom: 0px;
}
.account-types {
  max-width: 975px;
  margin: auto;
}
.fadeIn {
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.fadeIn:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.account-type {
  max-width: 430px;
  margin: auto;
  cursor: pointer;
  margin-top: 15px;
  padding-bottom: 45px;
  position: relative;
}
.account-type.focused {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.account-type.focused:after {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-top: 21px solid #efefef;
  bottom: -35px;
  left: 45.5%;
}
.account-type.focused .btn-account-type {
  background-color: #9ca1a6 !important;
}
.account-type h1 {
  font-size: 32px;
  margin-top: 30px;
}
.account-type h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.account-type .phone {
  color: #76ab0c;
  font-size: 21px;
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 15px;
}
.account-type .phone-details {
  font-size: 17px;
}
.account-type:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#btn-started-family, #btn-started-org {
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
}
#btn-started-family {
  background: #43bef0;
  margin: 50px 0px;
}
#btn-started-org {
  background: #a4d93b;
  margin-bottom: 49px;
}
#get-started-login {
  background: white;
  text-align: center;
}
#get-started-login .container{
  margin: auto;
  max-width: 435px;
}
.form-mini input {
  background: #efefef;
  color: #4d5055;
  border: none;
  font-size: 13px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 18px 20px;
}
#mini-login-popup {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 10;
  padding: 20px;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  display: none;
}
#mini-login-popup .login-help {
  float: left;
}
#mini-login-popup .title {
  font-size: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #4d5055;
  margin-bottom: 10px;
}
#mini-login-popup .form-submit-right {
  position: relative;
  top: -5px;
  margin-right: 0px;
}
#mini-login-help {
  display: none;
}
#mini-login-fader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #efefef;
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=argb(rgba(240, 240, 240, 0.75)), endColorstr=argb(rgba(240, 240, 240, 0.75)))";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=argb(rgba(240, 240, 240, 0.75)), endColorstr=argb(rgba(240, 240, 240, 0.75)));
  background-color: rgba(240, 240, 240, 0.75);
  z-index: 1;
  display: none;
}
#open-slider {
  position: relative;
}
@media (min-width: 767px) {
  #mini-login-popup {
    display: none !important;
  }
}
.form-corporate .form-group {
  margin-top: 20px;
  max-width:435px;
}
.form-corporate input {
  background: #efefef;
  color: #4d5055;
  border: none;
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 20px 25px;
}
#get-started-forms {
  margin-top: 45px;
  margin-bottom: 100px;
}
#get-started-forms .sublink {
  color: #4d5055;
}
#get-started-forms .sublink:hover {
  color: #9ca1a6;
}
#get-started-getintouch {
  display: none;
}
#get-started-getintouch .title {
  font-size: 32px;
  font-family: Roboto Slab Light, Arial, Helvetica, sans-serif;
  color: #a4d93b;
}
#get-started-getintouch a {
  color: #76ab0c;
}
#get-started-getintouch a:hover {
  color: #a4d93b;
}
#get-started-register {
  display: none;
}
#get-started-register .title {
  font-size: 32px;
  font-family: Roboto Slab Light, Arial, Helvetica, sans-serif;
  color: #009ddc;
}
.checkbox {
  font-size: 14px;
  color: #4d5055;
}
#register-hasaccount .form-corporate {
  display: none;
}
#register-hasaccount h2 {
  margin: auto;
  max-width: 345px;
  margin-top: 15px;
}
#register-hasaccount h2 a {
  color: #ff7b10;
}
#register-hasaccount h2 a:hover {
  color: #ff9710;
}
#form-getstarted-register .form-group {
  max-width: 435px;
}

#epact-login-form .login-help {
  float: left;
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #009ddc;
  line-height: 28px;
}
#epact-login-form .login-button {
  float: right;
  line-height: 28px;
  font-size: 21px;
  color: #4d5055;
  font-family: Roboto Light, Arial, Helvetica, sans-serif;
}
.form-submit-right {
  float: right;
  margin-right: 40px;
}
.form-submit-right .sublink:after {
  content: "";
  position: absolute;
  right: -40px;
  width: 30px;
  top: 0px;
  height: 30px;
  padding: 0px 10px;
  border-radius: 100%;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-video {
  text-align: center;
}
.modal-video .title {
  font-size: 28px;
  font-family: Roboto Slab Light, Arial, Helvetica, sans-serif;
  color: #009ddc;
  margin-top: 15px;
}
.modal-close {
  background: #ff7b10 !important;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  width: 33px;
  height: 33px;
  font-weight: normal;
  position: absolute;
  font-size: 28px;
  border-radius: 50%;
  color: white !important;
  z-index: 2000;
  text-shadow: none;
  right: -11px;
  top: -13px;
}
.modal-close:hover {
  background: #ff9710 !important;
  opacity: 1;
}
#top-button {
  position: fixed;
  cursor: pointer;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  bottom: 10px;
  right: 10px;
  z-index: 1500;
}
#top-button:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* FLIP PANELS */
.flip-panel {
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  height: 100%;
  width: 100%;
}
.flip-panel .front {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  background: white;
  text-align: center;
  -webkit-transform: rotatex(0deg) rotatey(0deg);
  -moz-transform: rotatex(0deg) rotatey(0deg);
  transform: rotatex(0deg) rotatey(0deg);
  -webkit-transform-style: preserve- 3 d;
  -moz-transform-style: preserve- 3 d;
  transform-style: preserve- 3 d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
}
.flip-panel .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  background: #009ddc;
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-179deg);
  transform: rotatey(-179deg);
  -webkit-transform-style: preserve- 3 d;
  -moz-transform-style: preserve- 3 d;
  transform-style: preserve- 3 d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
}
.flip-panel.flip .front {
  z-index: 900;
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  transform: rotatey(180deg);
}
.flip-panel.flip .back {
  z-index: 1000;
  background: #009ddc;
  -webkit-transform: rotatex(0deg) rotatey(0deg);
  -moz-transform: rotatex(0deg) rotatey(0deg);
  transform: rotatex(0deg) rotatey(0deg);
}
.flip-panel.flip .action {
  display: none;
}
/* SIDE INDICATOR */
.side-indicator {
  position: fixed;
  z-index: 101;
  top: 26%;
  right: 13px;
}
.nav-side-indicator {
  list-style-type: none;
}
.side-item {
  height: 32px;
  border-right: 7px #d9d9d9 solid;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  margin-bottom: 1px;
  line-height: 32px;
  cursor: pointer;
}
.side-item:hover {
  border-right: 7px #009ddc solid !important;
}
.side-item > span {
  color: #009ddc;
  display: none;
  padding-right: 10px;
}
.side-item:hover > span {
  color: #009ddc;
  display: block;
}
@media (max-width: 767px) {
  #using-options .row {
    margin-left: inherit;
    margin-right: inherit;
  }
}
/* USEFUL LESS MIXINS */
/* CONTACT PAGE */
.required-text-wizard{
	font-size: 13px;
	margin-bottom: 15px;
	color: #9ca1a6;
	margin:20px 0px;
}
.control-label{
	color: #4d5055;
}
.controls input:not([type=radio]):not([type=checkbox]), .controls textarea, .controls select{
	display: block;
	width: 435px !important;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #efefef;
	background-image: none;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.controls .radio, .controls .checkbox{
	display: inline-block;
}

label.error{
	text-align: left;
	font-weight: normal;
	margin-top:5px;
}

.remove-refer-friend, .remove-refer-org{
	text-decoration: underline;
	margin-left: 5px;
	font-size:13px;
}

/*.section-simple{
	background: #efefef;
	text-align: left;
}

.section-simple input:not([type=submit]):not([type=radio]):not([type=checkbox]){
	background-color: white !important;
	width: 100% !important;
}*/

#main-container{
	background: white;
}
.alert{
	margin-bottom: inherit;
}
#login-error{
	display: none;
}
#success-message{
	display: none;
}
.general-content .inline-email{
	display: none;
}

#epact-invitelogin-form, .invite-forgotpass{
	margin: auto;
	width: 345px;
}
#epact-invitelogin-form input:not([type=radio]):not([type=checkbox]):not([type=submit]){
	width: 345px !important;
}
#epact-invitelogin-form, #epact-inviteregistration-form, #epact-declineinvite-form{
	margin-top:15px;
}
.form-horizontal .checkbox{
	margin-bottom: 10px;
}

.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

#closer-look h1{
	margin: auto;
	margin-top: 90px;
	max-width: 711px;
	margin-bottom: 35px;
}
#faq-accordion .panel-body{
	font-family: Roboto Slab, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: left;
	line-height: 28px;
	color: #65696f;
}
#faq-section{
	background:#efefef;
}
#contact-us-section h2{
	line-height:1.8em;
}
#contact-us-section h5{
	text-align: left;
}
@media (max-width: 767px) {
	.navbar-collapse{display: none}
}
.ie-login{color: #9ca1a6 !important}
.ie-login:first-child{margin-left:10px}
.ie-label{font-size: 1.2em;color: #4d5055;font-weight: normal}
#epact-login-form .form-group{text-align:left;}
#epact-login-form{position:relative}
.modal-backdrop.fade.in{z-index: 1000 !important}
#login-loader{display: none; margin-left:10px;}
#epact-login-form.navbar-form #login-loader{display: none; margin-left: inherit; right: -35px;top: 8px;position: absolute;}
#logged-in-header{text-align: right;margin: 10px 0px; visibility: hidden}
#epact-org-express-interest-form .control-label{text-align: left !important}
#control-group-for-epact-org-express-interest-form-submit label{display: none}
.form-horizontal .control-label{text-align: left !important; width: 100%;}
.control-group{width: 100%;text-align: left;}
/* Front page columns */

#front-columns {
	display:block;
	width:auto;
	float:none;
	overflow:hidden;
}
.column-image {
	width:100%;
	display:block;
	overflow:hidden;
	line-height:0px;
	position: relative;
}

#front-columns > div {
width: 30%;
display: block;
height: auto;
margin-right: 3px;
margin-bottom: 30px;
float: left;
}
.column-image:hover .column-image-inside, .column-image:hover .column-text {
left:0;
}

.column-image:hover .columnmore {
bottom:20px;
}

.column-image-inside {
width:100%;
height:100%;
position:absolute;
background:#009ddc;
background:rgba(0, 157, 220, 0.9);
z-index:250;
left:-100%;
-moz-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
}

#using-who-org .column-image-inside{
	background: #76ab0c;
	background: rgba(118, 171, 12, 0.9);
}

#using-who-org .columnmore a{
	color:#76ab0c;
}
.column-text {
	text-align:justify;
	padding:10px 20px;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
	line-height:1.5em;
	font-size:18px;
	position:absolute;
	top:50%;
	top:0px\0;
	-moz-transform:translate(0,-55%);
	-o-transform:translate(0,-55%);
	-webkit-transform:translate(0,-55%);
	-ms-transform:translate(0,-55%);
	transform:translate(0,-55%);
	z-index:251;
	left:100%;
	color:white;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


@media (max-width: 767px) {
 .column-text{
    font-size: 14px;
  }
}
.column-image img {
	width:100%;
}

.columnmore  {
	font-size:12px;
	display:block;
	text-align:center;
	margin:0 auto;
	clear:both;
	line-height:20px;
	position:absolute;
	bottom:-50px;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	z-index:251;
	width:100%;
	background:none !important;
}

.columnmore a {
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
padding:5px 20px;
background:#fff;
color: #009dcc;
-moz-transition:background .2s ease-out;
-o-transition:background .2s ease-out;
-webkit-transition:background .2s ease-out;
transition:background .2s ease-out;
}


.dropdown-menu > li > a {
	color: #009ddc;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
text-decoration: none;
color: #FFFFFF;
background-color: #009ddc;
}
#epact-login-form.form-horizontal input:not([type=radio]):not([type=checkbox]):not([type=submit]){width: 100% !important}
.login-help-right{float: right; padding-top:14px;}
.tooltip.bottom .tooltip-arrow{border-bottom-color:#009ddc;border-bottom-color: rgba(0, 157, 220, 0.9);}
.tooltip-inner{background-color:#009ddc;background-color:rgba(0, 157, 220, 0.9)}
#contact-map{width: 100%; height: 300px; background: url(../images/contact-us-map.jpg);background-size: cover;}
#epact-login-form.navbar-form label.error{position: absolute; font-size:12px}
.save-alert{text-align: center;display: none;}
#btn-started-family{margin-top: 79px;}
#epact-tweets > p.tweet {word-wrap: break-word;}

/*Browser detection*/

#modal-browser-options .modal-body {
  	text-align:center;
}
table.browser-logos {
  	width:100%;
  	border:none;
}
.browser-logos td {
  	vertical-align: top;
	padding: 10px;
	border: none;
	background: none;
	width: 25%;
}
.browser-logos td a {
  	display: block;
	padding: 4px;
	padding-top: 110px;
	background-repeat: no-repeat;
	background-position: center top;
	text-decoration: none;
	text-align: center;
}
.browser-logos .ff a {
  	background-image: url('../../images/ff.png');
}
.browser-logos .op a {
  	background-image: url('../../images/op.png');
}
.browser-logos .ch a {
  	background-image: url('../../images/ch.png');
}
.browser-logos .sa a {
  	background-image: url('../../images/sa.png');
}
.browser-logos td a span {
  	color: #aaa;
	text-align: center;
	font-size: 10px;
	display: block;
}
.popover-title{display:none;}
.popover-content {padding: 14px 14px;}
.inline-help-close{font-size:16px}
.popover {position: absolute;right: -25px;top: 35px;}
.inline-email{display: none}
#epact-registration-form .help-block{max-width: 435px;}
#footer h3 a {color: white;}
.no-display{display:none !important}
.story-author{display: block;
margin-top: 20px;
font-style: italic;
font-size: 14px;}
#story-collection h1, #partners-page h1{
	margin-top: 60px;
	margin-bottom:30px;
}

#story-collection .story, #partners-page .partner{
	margin-bottom: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #efefef;
}
.story-highlight, .partner-highlight{
	background: white;
	padding: 40px 25px;
	color: #90959A;
	margin-top:30px;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}
.story-highlight:hover, .partner-highlight:hover {
-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.11);
-moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
}
.story-logo, .partner-logo{min-height:65px;}
.partner-logo{padding-bottom: 20px;}
.story-highlight p, .partner-highlight p {
	font-family: inherit;
	padding: 20px 0px;
	font-size: 16px;
	padding-bottom:35px;
}
#jobs-footer{
	margin-top:50px;
}
.invalid-footer{
	margin-top:50px;
	text-align:center;
}
.logged-out-avatar{
	height: 26px; margin-right:3px;	border-radius: 3px;
}

#mobile-loggedin-dropdown{
	list-style-type: none;
	display: inline-block;
	padding-left: 10px;
}

#mobile-loggedin-dropdown ul.dropdown-menu{
	left: inherit;
	right: 0px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background-color: inherit; color: inherit}
.columnmore, .column-text, .column-image-inside {display: none}
.sublink-shifted{position: relative;top: 10px;}
.btn-shifted{margin-top: 10px;}
a.on-page{color: #333 !important;}
#news-promo{
	position: absolute;
	z-index: 10;
	bottom: 160px;
	width: 530px;
	height: 260px;
}


#news-promo .carousel-indicators {
margin-top: 20px;
}

.request-btn-banner{
	position: absolute;
	z-index: 100;
	top: 260px;
	width: 100%;

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
	.request-btn-banner{
		position: absolute;
		z-index: 150;
		top: 180px;

	}
	.jumbotron h1{
		font-size: 23px;
	}
}
@media (min-width: 768px) {
	.request-btn-banner{
		position: absolute;
		z-index: 150;
		top: 250px;
		width: 100%;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.request-btn-banner{
		position: absolute;
		z-index: 100;
		top: 200px;
		width: 100%;
	}
	.jumbotron h1{
		font-size: 26px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/*.request-btn-banner{
		position: absolute;
		z-index: 100;
		top: 200px;
		width: 100%;
	}*/
	.request-btn-banner{
		position: absolute;
		z-index: 100;
		top: 200px;

	}
	.jumbotron h1{
		font-size: 30px;
	}
}
/*Customized
*************************************************/
.nav-pills > li.active > a{
	color: #ffffff;
	background-color: #33699c;
}
.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #3374b2;
}


/*modal colored header
*************************************************/
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary h2{
	color:#fff;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-blue h2{
	color:#fff;
}
.modal-header-blue {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #3374b2;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
@media (min-width: 979px){
  .modal_form{
	  margin-left: 30px;
  }
}


/**********outline button***********/

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #e66700 !important;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff !important;
}


.text-light-blue{
	color: #009ddc;
}

#home-why .col-md-4{
	padding-top: 30px;
}



/* COMMON PRICING STYLES */
.panel.price,
.panel.price>.panel-heading{
	border-radius:0px;
	 -moz-transition: all .3s ease;
	-o-transition:  all .3s ease;
	-webkit-transition:  all .3s ease;
}
.panel.price:hover{
	box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.panel.price:hover>.panel-heading{
	box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}


.panel.price>.panel-heading{
	box-shadow: 0px 3px 0px rgba(50,50,50, .2) inset;
	text-shadow:0px 1px 0px rgba(50,50,50, .6);
	color: #fff;
}


.panel.price>.panel-heading h4{
	color: #fff;
}

.panel.price>.panel-body .lead{
	font-size: 34px;
	margin-bottom: 5px;
}

.price .list-group-item{
	border-bottom-:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.price .panel-footer {
	color: #fff;
	border-bottom:0px;
	background-color:  rgba(0,0,0, .1);
	box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}


.panel.price .btn{
	/*box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
	border:0px;*/
}



/* white price */


.price.panel-white>.panel-heading {
	color: #333;
	background-color: #f9f9f9;
	border-color: #ccc;
	border-bottom: 1px solid #ccc;
	text-shadow: 0px 2px 0px rgba(250,250,250, .7);
}

.panel.panel-white.price:hover>.panel-heading{
	box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
}

.price.panel-white>.panel-body {
	color: #fff;
	background-color: #dfdfdf;
}

.price.panel-white>.panel-body .lead{
		text-shadow: 0px 2px 0px rgba(250,250,250, .8);
		color:#666;
}

.price:hover.panel-white>.panel-body .lead{
		text-shadow: 0px 2px 0px rgba(250,250,250, .9);
		color:#333;
}

.price.panel-white .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}



/* green panel */


.price.panel-green>.panel-heading {
	color: #fff;
	background-color: #57AC57;
	border-color: #71DF71;
	border-bottom: 1px solid #71DF71;
}


.price.panel-green>.panel-body {
	color: #fff;
	background-color: #65C965;
}


.price.panel-green>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-green .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}


/* grey price */


.price.panel-grey>.panel-heading {
	color: #fff;
	background-color: #6D6D6D;
	border-color: #B7B7B7;
	border-bottom: 1px solid #B7B7B7;
}


.price.panel-grey>.panel-body {
	color: #fff;
	background-color: #808080;
}



.price.panel-grey>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-grey .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}



/* blue panel */


.price.panel-blue>.panel-heading {
	color: #fff;
	background-color: #608BB4;
	border-color: #78AEE1;
	border-bottom: 1px solid #78AEE1;
}


.price.panel-blue>.panel-body {
	color: #fff;
	background-color: #73A3D4;
}


.price.panel-blue>.panel-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-blue .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/******from footer*********/

@media(min-width:767px) {
	.addLeftPadding{
		padding-left: 30px;

	}
}
@media(min-width:879px) {
	.addLeftPadding{
		padding-left: 100px;

	}
}
@media(min-width:880px) {
	.addLeftPadding{
		padding-left: 10px;

	}
}

.crisis-on-device img{
	margin: 0 auto;
}


/******portfolio modal****/

.portfolio-modal .modal-content {
    /*padding: 0 0 15px 0; 75px 0;*/
	z-index: 2000;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-body {
    padding: 0px;
	text-align: left;
}

.portfolio-modal .modal-content h2, .portfolio-modal .modal-content h1 {
    margin: 0 auto;
	text-align: center;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 50px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.modal-backdrop{
	/*z-index: 1600 !important;*/
	background-color: #333 !important;
}

.pac-container {
	z-index: 2000 !important;
}*/


/*******progress bar***********/

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #eee;
	text-transform: uppercase;
	font-size: 12px;
	width: 20%;
	float: left;
	text-align:center;
	position: relative;
}
#progressbar li:before {
	font-family: FontAwesome;
    content: "\f00c";
	/*content: '&#10003'; /*counter(step);
	counter-increment: step;*/
	width: 35px;
	line-height: 30px;
	display: block;
	font-size: 11px;
	color: #fff;
	background: #fff;
	border-radius: 50%;
	border: 3px solid #eee;
	margin: 0 auto 10px auto;
	z-index: 2;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 3px;
	background: #eee;
	position: absolute;
	left: -41%;
	top: 15px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar-z li{
	z-index: 0 !important;
}
.progressbar-z li:after{
	z-index: -1 !important;
	width: 95% !important;
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

#progressbar li.done-muted{
	color: #eee;
}

#progressbar li.done-muted:before{
	background: #fff;
	color: #eee;
	border: 3px solid #eee;
}

#progressbar li.done-muted:after{
	color: #eee;
	color: #eee;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active{
	color: #009ddc;
}

#progressbar li.active:before, #progressbar li.active:after{
	background: #009ddc;
	color: #009ddc;
}

#progressbar li.done{
	color: #47a447;
}

#progressbar li.done:before{
	background: #fff;
	color: #47a447;
	border: 3px solid #47a447;
}

#progressbar li.done:after{
	background: #47a447;
	color: #47a447;
}

.progressbar-four li {
	width: 25% !important;

}
.progressbar-clickable li{
	cursor: pointer;
}

.progressbar-clickable li.active{
	color: #f39c12 !important;
}

.progressbar-clickable li.active:before{
	background: #f39c12 !important;
	color: #f39c12 !important;
}

.progressbar-clickable li.active:after{
	background: #eee !important;
}

.progressbar-main li{
	width: 16.66% !important;
}

.progressbar-main li.active, .progressbar-main li.done, .progressbar-main li.done-muted {
	cursor: pointer;
}



form label{
	font-weight:normal;
}

form legend{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.portfolio-modal .modal-content li img{
  margin-bottom: 0px;
}

.popover {
    z-index: 3000; /* A value higher than 1010 that solves the problem */
}


.well-info{
	background-color: #5bc0de;
	border-color: #5bc0de;
	color: #fff;
}

.well-warning{
	background-color: #f0ad4e;
	border-color: #f0ad4e;
	color: #fff;
}

.well-maroon{
	background-color: #B74934;
	border-color: #B74934;
	color: #fff;
}

.well-gold{
	background-color: #AA9A66;
	border-color: #AA9A66;
	color: #fff;
}
.well-blue{
	background-color: #4E7AC7;
	border-color: #4E7AC7;
	color: #fff;
}

.section-simple{
	background: #efefef;
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.main_container_admin{
	min-height: 570px;
}

/*.main_nav .list-group-item:first-child, .settings_nav .list-group-item:first-child{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.main_nav .list-group-item:last-child, .settings_nav .list-group-item:last-child{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}*/

.section-simple h1{
	 margin-top: 15px !important;
}

hr.light {
  border-color: white;
}


#buyNowModal form{
	text-align: left;
}
#buyNowModal .tab-content h4{
	margin-top: 30px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

/*******portfolio box************/
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(0, 157, 220, .9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.alert{
	margin-bottom: 15px !important;
}

/**********profile box***********/

.profile-boxes>div, .profile-boxes a.dash-profile-link{
	text-align: center;
	z-index: 4;
	color: #eee;
}
.profile-boxes>div{
	margin-bottom: 15px;
}

.dash-profile-box{
	border: 3px solid #eee;
	border-radius: 50%;
	text-decoration: none;
	color: #333;
	margin: 0 auto;
	padding-top: 8px;
	height: 50px;
	width: 50px;
	background: #fff;
}

a.dash-profile-link.active{
	color: #777;
}
a.dash-profile-link.active .dash-profile-box{
	color: #fff;
	background: #777;
}


a:hover.dash-profile-link.active{
	color: #f47c3c;
}
a:hover.dash-profile-link.active .dash-profile-box{
	color: #fff;
	background: #f47c3c;
}


a.dash-profile-link.done{
	color: #00964b/*4caf50*/;
}
a.dash-profile-link.done .dash-profile-box{
	color: #fff;
	background: #00964b/*4caf50*/;
}



.profile-boxes a:hover, .profile-boxes a:active{
	border-color: #999;
	text-decoration: none;
	color: #333;
}

.profile-boxes-line div{
	border-top: 3px solid #eee;
	margin-top: -75px;
	width: 85%;
	z-index: 1;
}


@media (min-width: 992px) and (max-width: 1199px) {
	.profile-boxes-line div{
		margin-top: -60px;
	}

}

.profile-boxes-line.narrow div{
	width: 15%;
}


@media (min-width: 1200px  ) {
	.profile-boxes div{
		padding-bottom: 15px;
	}
}



/*****checkbox****/


.form-checkbox, .form-radio {
  padding-right: 10px;
  padding-left: 34px;
  text-indent: -34px;
  display: inline;
  display: inline-block;
  *zoom: 1;
}

.form-control .form-checkbox, .form-control .form-radio {
  padding-top: 10px;
  /* should be as tall as a typical form element */
}

/*
	Enhanced Input Types
*/
/* Enhanced checkboxes and radio buttons */
.enhanced-checkbox {
  display: inline;
  display: inline-block;
  *zoom: 1;
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 4px;
  margin-bottom: 2px;
  vertical-align: middle;
}
.enhanced-checkbox input, .enhanced-checkbox span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.enhanced-checkbox input {
  /* Be above the span.checkbox */
  z-index: 2;
  opacity: 0;
}
.enhanced-checkbox span {
  background-image: url("../images/icon_sprite.png?version=1902015");
  background-position: -96px -128px;
}
.enhanced-checkbox input:focus ~ span, .input-hover-toggle .enhanced-checkbox input ~ span {
  background-position: -128px -128px;
}
.enhanced-checkbox input:active ~ span {
  background-position: -160px -128px;
}
.enhanced-checkbox input:checked ~ span {
  background-position: 0px -128px;
}
.enhanced-checkbox input:checked:focus ~ span, .input-hover-toggle .enhanced-checkbox input:checked ~ span {
  background-position: -32px -128px;
}
.enhanced-checkbox input:checked:active ~ span {
  background-position: -64px -128px;
}
.enhanced-checkbox input:disabled ~ span {
  background-position: -160px -128px;
}

.enhanced-radio {
  display: inline;
  display: inline-block;
  *zoom: 1;
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 4px;
  margin-bottom: 2px;
  vertical-align: middle;
}
.enhanced-radio input, .enhanced-radio span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.enhanced-radio input {
  /* Be above the span.checkbox */
  z-index: 2;
  opacity: 0;
}
.enhanced-radio span {
  background-image: url("../images/icon_sprite.png?version=1902015");
  background-position: -288px -128px;
}
.enhanced-radio input:focus ~ span, .input-hover-toggle .enhanced-radio input ~ span {
  background-position: -320px -128px;
}
.enhanced-radio input:active ~ span {
  background-position: -352px -128px;
}
.enhanced-radio input:checked ~ span {
  background-position: -192px -128px;
}
.enhanced-radio input:checked:focus ~ span, .input-hover-toggle .enhanced-radio input:checked ~ span {
  background-position: -224px -128px;
}
.enhanced-radio input:checked:active ~ span {
  background-position: -256px -128px;
}
.enhanced-radio input:disabled ~ span {
  background-position: -352px -128px;
}

/**keyboard**/

.keyboard {
    background: inherit;
    width: 100%;
    border-collapse: collapse
}

@media screen and (max-width:480px) {
    .keyboard {
        display: none
    }
}

.keyboard .keyboard__delete,
.keyboard .keyboard__number {
    cursor: pointer;
    width: 33.3%;
    height: 54px;
    text-align: center;
    line-height: 50px;
    color: #454855;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box
}

.keyboard .keyboard__delete:hover,
.keyboard .keyboard__number:hover {
    background-color: #f3a309;
    color: #fff
}

.keyboard .keyboard__delete {
    line-height: 57px
}

.keyboard .keyboard__delete:hover:before {
    background-color: #f3a309;
    color: #fff
}

.keyboard .keyboard__backspace:before {
    padding-right: 0;
    color: #8a8a8a
}

.input-keyboard {
    position: relative;
    width: 156px
}

@media screen and (max-width:480px) {
    .input-keyboard {
        width: 100%
    }
}

.input-keyboard .input-keyboard__currency {
    position: absolute;
    left: 4px;
    top: 4px;
    height: 30px;
    width: 30px;
    font-size: 28px;
    background-color: #fff
}

.input-keyboard .input-keyboard__currency:before {
    padding-right: 0;
    color: #d2d2d2
}

.input-keyboard .input-keyboard__input {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #d2d2d2;
    padding-left: 10px;
    width: 100%;
    height: 40px!important;
    text-align: right;
    font-size: 1em;
    color: #454855;
    font-weight: 100;
    box-sizing: border-box
}

@media screen and (max-width:480px) {
    .input-keyboard .input-keyboard__input {
        text-align: left
    }
}

.input-keyboard .input-keyboard__input--nan {
    padding-right: 10px
}

@media screen and (max-width:480px) {
    .input-keyboard .input-keyboard__input--currency {
        padding-left: 35px
    }
}


.modal-backdrop{
	background-color: rgba(0, 0 , 0, .3);
}

.info-homebiz{
	cursor: pointer;
}

.the-homebiz-info{
	padding-top: 15px;
	display: none;
}

.row > .leftbar-still{
	position: fixed;
	top: 110px;
	left: 0px;
}
.row > .rightbar-still{
	position: fixed;
	top: 120px;
	right: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="number"], input[type="tel"], .form-group select, textarea, .btn.dropdown-toggle {
    border-radius: 5px;
    border: 1px solid #ced3d5;
    background-color: #f7f9fa;
    height: 39px;
    line-height: 21px;
    padding: 8px 9px;
    color: #363636;
    -webkit-box-shadow: inset 0px 1px 2px 0px #dfe4e7;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, .form-group select:focus, textarea:focus, .panel-quote .btn.dropdown-toggle:focus {
    box-shadow: 0 0 2px rgba(194, 33, 51, 1);
    border: 2px solid rgba(194, 33, 51, 1);
    padding: 7px 8px;
}

/*.form-group.has-error input[type="text"],.form-group.has-error input[type="password"], .form-group.has-error input[type="text"]:focus, .form-group.has-error input[type="password"]:focus, .form-group.has-error select, .form-group.has-error select:focus,  .form-group.has-error textarea, .form-group.has-error textarea:focus, .panel-quote .form-group.has-error .btn.dropdown-toggle {
    border: 2px solid #f30000;
    padding: 7px 8px;
}
*/

/***side progress**/

nav .lifecycle {
    /*border-top: 1px dotted #d2d2d2;*/
    padding-top: 4px
}

nav .lifecycle span {
    font-size: 13px;
    display: block;
    text-align: center;
    margin-bottom: 3px;
    color: #505050;
    margin-bottom: 15px
}

nav .lifecycle h5 {
    font-size: 16px;
    margin-bottom: 3px;
    text-align: center;
    color: #454855
}

@media screen and (max-width:480px) {
    nav .lifecycle {
        display: none
    }
}

nav .lifecycle ul.list {
    padding: 0;
    margin-top: 10px;
	background-color: transparent;
}

@media screen and (max-width:480px) {
    nav .lifecycle ul.list {
        width: 200px;
        overflow: hidden;
        margin: 0 auto
    }
}

nav .lifecycle ul.list .item {
    height: 40px
}

nav .lifecycle ul.list .item:nth-child(1) .circle {
    -webkit-animation-delay: .02s;
    animation-delay: .02s
}

nav .lifecycle ul.list .item:nth-child(2) .circle {
    -webkit-animation-delay: .04s;
    animation-delay: .04s
}

nav .lifecycle ul.list .item:nth-child(3) .circle {
    -webkit-animation-delay: .06s;
    animation-delay: .06s
}

nav .lifecycle ul.list .item:nth-child(4) .circle {
    -webkit-animation-delay: .08s;
    animation-delay: .08s
}

nav .lifecycle ul.list .item:nth-child(5) .circle {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

nav .lifecycle ul.list .item:nth-child(6) .circle {
    -webkit-animation-delay: .12s;
    animation-delay: .12s
}

nav .lifecycle ul.list .item:nth-child(7) .circle {
    -webkit-animation-delay: .14s;
    animation-delay: .14s
}

nav .lifecycle ul.list .item:nth-child(8) .circle {
    -webkit-animation-delay: .16s;
    animation-delay: .16s
}

nav .lifecycle ul.list .item:nth-child(9) .circle {
    -webkit-animation-delay: .18s;
    animation-delay: .18s
}

nav .lifecycle ul.list .item .indicator {
    width: 50px;
    height: 40px;
    position: relative;
    float: left;
	padding: 0;
	border: none;
}

nav .lifecycle ul.list .item .indicator .semiline {
    width: 3px;
    height: 50%;
    margin: 0 auto;
    background: #d2d2d2
}

nav .lifecycle ul.list .item .indicator .circle {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d2d2d2;
    top: 5px;
    left: 10px;
    background: #f9f9f9
}

nav .lifecycle ul.list .item span {
    line-height: 40px;
    font-size: 14px;
    text-align: left
}

nav .lifecycle ul.list .item.end .semiline:nth-child(2),
nav .lifecycle ul.list .item.start .semiline:first-child {
    background: inherit
}

nav .lifecycle ul.list .item.complete .circle {
    background: #6d6e70;
    border-color: #6d6e70
}

nav .lifecycle ul.list .item.current .semiline:first-childe {
    background: #6d6e70
}

nav .lifecycle ul.list .item.current .circle {
    background: rgba(194, 33, 51, 1);
    border-color: rgba(194, 33, 51, 1);
}
nav .lifecycle ul.list .item a:hover{
	text-decoration: none;
}

.panel-quote .panel-heading{
	background: #fff;
	border-bottom: none;
}

.panel-quote .panel-heading h4{
	color: #f3a309;
}

.the-rating-well .well{
	padding: 50px 0 50px 0;
}
.the-rating-well .well h4.panel-title{
	margin: 5px 0 5px 0;
}
